@charset "UTF-8";
/*! Rhythm v1.1.0 | MIT License | Aaaaaashu.me */
/*! sanitize.css v4.0.0 | CC0 License | github.com/10up/sanitize.css */
/* Display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Elements of HTML (https://www.w3.org/TR/html5/semantics.html)
   ========================================================================== */
/**
 * 1. Remove repeating backgrounds in all browsers (opinionated).
 * 2. Add box sizing inheritence in all browsers (opinionated).
 */
*,
::before,
::after {
  background-repeat: no-repeat;
  /* 1 */
  box-sizing: inherit;
  /* 2 */ }

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritence in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */ }

/**
 * 1. Add border box sizing in all browsers (opinionated).
 * 2. Add the default cursor in all browsers (opinionated).
 * 3. Add a flattened line height in all browsers (opinionated).
 * 4. Prevent font size adjustments after orientation changes in IE and iOS.
 */
html {
  box-sizing: border-box;
  /* 1 */
  cursor: default;
  /* 2 */
  font-family: sans-serif;
  /* 3 */
  line-height: 1.5;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 4 */
  -webkit-text-size-adjust: 100%;
  /* 5 */ }

/* Sections (https://www.w3.org/TR/html5/sections.html)
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Correct the font sizes and margins on `h1` elements within
 * `section` and `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: .67em 0; }

/* Grouping content (https://www.w3.org/TR/html5/grouping-content.html)
   ========================================================================== */
/**
 * 1. Correct font sizing inheritance and scaling in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * 1. Correct the height in Firefox.
 * 2. Add visible overflow in Edge and IE.
 */
hr {
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Add a bordered underline effect in all browsers.
 * 2. Remove text decoration in Firefox 40+.
 */
abbr[title] {
  border-bottom: 1px dotted;
  /* 1 */
  text-decoration: none;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct colors in IE 9-.
 */
mark {
  background-color: #ffff00;
  color: #000000; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Correct the font size in all browsers.
 */
small {
  font-size: 83.3333%; }

/**
 * Change the positioning on superscript and subscript elements
 * in all browsers (opinionated).
 * 1. Correct the font size in all browsers.
 */
sub,
sup {
  font-size: 83.3333%;
  /* 1 */
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

/*
 * Remove the text shadow on text selections (opinionated).
 * 1. Restore the coloring undone by defining the text shadow (opinionated).
 */
::-moz-selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000000;
  /* 1 */
  text-shadow: none; }

::selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000000;
  /* 1 */
  text-shadow: none; }

/* Embedded content (https://www.w3.org/TR/html5/embedded-content-0.html)
   ========================================================================== */
/*
 * Change the alignment on media elements in all browers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg {
  fill: currentColor; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Links (https://www.w3.org/TR/html5/links.html#links)
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove the gaps in underlines in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline when hovering in all browsers (opinionated.
 */
:hover {
  outline-width: 0; }

/* Tabular data (https://www.w3.org/TR/html5/tabular-data.html)
   ========================================================================== */
/*
 * Remove border spacing in all browsers (opinionated).
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* transform-style:  (https://www.w3.org/TR/html5/forms.html)
   ========================================================================== */
/**
 * 1. Remove the default styling in all browsers (opinionated).
 * 3. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  background-color: transparent;
  /* 1 */
  border-style: none;
  /* 1 */
  color: inherit;
  /* 1 */
  font-size: 1em;
  /* 1 */
  margin: 0;
  /* 3 */ }

/**
 * Correct the overflow in IE.
 * 1. Correct the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance in Edge, Firefox, and IE.
 * 1. Remove the inheritance in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent the WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Correct the focus styles unset by the previous rule.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the border, margin, and padding in all browsers.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Remove the vertical scrollbar in IE.
 * 2. Change the resize direction on textareas in all browsers (opinionated).
 */
textarea {
  overflow: auto;
  /* 1 */
  resize: vertical;
  /* 2 */ }

/**
 * Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  padding: 0; }

/**
 * Correct the cursor style on increment and decrement buttons in Chrome.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari for OS X.
 */
::-webkit-search-cancel-button,
::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style on placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: .54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* WAI-ARIA (https://www.w3.org/TR/html5/dom.html#wai-aria)
   ========================================================================== */
/**
 * Change the cursor on busy elements (opinionated).
 */
[aria-busy="true"] {
  cursor: progress; }

/*
 * Change the cursor on control elements (opinionated).
 */
[aria-controls] {
  cursor: pointer; }

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements (opinionated).
 */
[aria-disabled] {
  cursor: default; }

/* User interaction (https://www.w3.org/TR/html5/editing.html)
   ========================================================================== */
/*
 * Remove the tapping delay on clickable elements (opinionated).
 * 1. Remove the tapping delay in IE 10.
 */
a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  /* 1 */
  touch-action: manipulation; }

/*
 * Change the display on visually hidden accessible elements (opinionated).
 */
[hidden][aria-hidden="false"] {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute; }

[hidden][aria-hidden="false"]:focus {
  clip: auto; }

@font-face {
  font-family: 'Rhythm Heiti';
  src: local("PingFang SC Light"), local("PingFang TC Light"), local("PingFang-SC-Light"), local("PingFang-TC-Light"), local("PingFang SC"), local("PingFang TC"), local("Hiragino Sans GB"), local(FZLTXHB--B51-0), local(FZLTZHK--GBK1-0), local("Heiti SC Light"), local(STHeitiSC-Light), local("Heiti SC"), local("Heiti TC Light"), local(STHeitiTC-Light), local("Heiti TC"), local("Microsoft Yahei"), local("Microsoft Jhenghei"), local("Noto Sans CJK KR"), local("Noto Sans CJK JP"), local("Noto Sans CJK SC"), local("Noto Sans CJK TC"), local("Source Han Sans K"), local("Source Han Sans KR"), local("Source Han Sans JP"), local("Source Han Sans CN"), local("Source Han Sans HK"), local("Source Han Sans TW"), local("Source Han Sans TWHK"), local("Droid Sans Fallback"); }
@font-face {
  font-family: 'Rhythm Songti';
  src: local("Songti SC Regular"), local(STSongti-SC-Regular), local("Songti SC"), local("Songti TC Regular"), local(STSongti-TC-Regular), local("Songti TC"), local(STSong), local("Lisong Pro"), local(SimSun), local(PMingLiU); }
@font-face {
  font-family: 'Rhythm Cursive';
  src: local("Kaiti TC Regular"), local(STKaiTi-TC-Regular), local("Kaiti TC"), local("Kaiti SC"), local(STKaiti), local(BiauKai), local("標楷體"), local(DFKaiShu-SB-Estd-BF), local(Kaiti), local(DFKai-SB); }
@font-face {
  font-family: 'Rhythm Italic Serif';
  src: local("Georgia Italic"), local("Times New Roman Italic"), local(Georgia-Italic), local(TimesNewRomanPS-ItalicMT), local(Times-Italic); }
/* Typography
   ========================================================================== */
/* Color
   ========================================================================== */
/* Color Apply
   ========================================================================== */
/* Space
   ========================================================================== */
/* Support
   ========================================================================== */
/* 布局模式
   -- 当全局进行网页布局时，重置间距等样式，以方便还原设计图稿，实现更精确的布局。
   ========================================================================== */
/*
* 1. Sets a specific default `font-size` for user with `rem` type scales.
* 2. Changes the default tap highlight to be completely transparent in iOS.
*/
html {
  font-size: 15px;
  /* 1 */
  -webkit-tap-highlight-color: transparent;
  /* 2 */ }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Rhythm Heiti", sans-serif;
  font-size: 1rem;
  color: #333333;
  background-color: #fff; }

/**
 * 重置 margin 和 padding 为 0
 */
h1, h2, h3, h4, h5, h6,
p, hr, code, pre, blockquote, ol, ul, li, figure, figcaption,
table, caption, thead, tbody, tfoot, tr, th, td {
  margin: 0;
  padding: 0; }

/**
 * 1. 重置标题颜色
 * 2. 重置标题字重为 normal
 */
h1, h2, h3, h4, h5, h6 {
  color: #444;
  /* 1 */
  font-weight: normal;
  /* 2 */ }

/**
 * 重置文本行高为 1em
 */
h1, h2, h3, h4, h5, h6, p
span, a {
  line-height: 1em; }

/**
 * 重置超链接默认的底部装饰线
 */
a {
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: none; }

/* 排版模式
   -- DOM 节点添加 .rhythm 后，增加相应的排版样式
   ========================================================================== */
.rhythm {
  /**
   * 1. 设置 Rhythm 全局行高
   * 2. 亚像素渲染字体，更多详情（http://www.html5rocks.com/en/tutorials/internals/antialiasing-101/）
   */
  line-height: 1.6em;
  /* 1 */
  -webkit-font-smoothing: subpixel-antialiased;
  /* 2 */
  /**
   * 统一标题字体大小
   */
  /**
   * 1. 统一标题的上下间距
   * 2. 标题为宋体时，字重需加粗
   */
  /**
   * 小级标题对大级标题收紧
   * 同级标题互相收紧
   *
   * 大级标题
   * 不对小级标题收紧
   *
   * 一级标题
   * 不对一级标题收紧
   *
   * 参考 Han.css（https://css.hanzi.co/manual/zhangjie_de_bianpai#wenzhang_zhangjie_yu_neirong_de_bianjie_tiaozheng-biaoti）
   */
  /**
   * 统一文本块的下间距，以及最后一个块元素下间距为零
   */
  /**
   * 统一文本行高
   */
  /**
   * 统一列表的左缩进，默认缩进两个字元
   */
  /**
   * 列表项中的列表下间距为零
   */
  /**
   * 统一 table 样式，高亮表头背景，表格单元居左对齐
   */
  /**
   * 统一引用样式，左缩进一个字元，字体为楷体
   */
  /**
   * 统一图表内容样式
   * 图片居中、等比缩放
   * 图片说明居右，字体为宋体
   */
  /**
   * 统一预格式化文本和代码片段字体为等宽字体
   */
  /**
   * 1. 不合并文字间的空白间距，当文字超出边界时不换行
   * 2. 允许内容溢出容器边界
   * 3. 当内容没有溢出容器时不出现滚动条，当内容溢出容器时出现滚动条
   */
  /**
   * 1. 不合并文字间的空白间距，当文字超出边界时换行
   */
  /**
   * 1. 不合并文字间的空白间距，当文字超出边界时换行
   */
  /**
   * 统一超链接样式，利用 border-bottom 代替 text-decoration
   */
  /**
   * 若支持着重号则启用 text-emphasis
   */
  /**
   * 统一注记样式，利用 border-bottom 代替 text-decoration
   */
  /**
   * 统一斜体样式，中文使用楷体替换意大利体
   */
  /**
   * 统一水平分隔线样式
   * 利用 border-bottom 模拟 hr 默认样式
   * 参考 HTML5 Boilerplate (https://github.com/paulirish/html5-boilerplate/blob/ef3c095bafa9a6fa9c771f368d4b30c8ce4deded/css/style.css#L75)
   */ }
  .rhythm h1 {
    font-size: 1.8rem; }
  .rhythm h2 {
    font-size: 1.6rem; }
  .rhythm h3 {
    font-size: 1.4rem; }
  .rhythm h4 {
    font-size: 1.2rem; }
  .rhythm h5 {
    font-size: 1.2rem; }
  .rhythm h6 {
    font-size: 1.2rem; }
  .rhythm h1, .rhythm h2, .rhythm h3, .rhythm h4, .rhythm h5, .rhythm h6 {
    margin-top: 1.33em;
    /* 1 */
    margin-bottom: 0.44em;
    /* 1 */
    font-family: "Rhythm Italic Serif", "Rhythm Songti", sans-serif;
    /* 2 */
    font-weight: bold;
    /* 2 */ }
  .rhythm h1 + h5 {
    margin-top: 0; }
  .rhythm h2 + h5 {
    margin-top: 0; }
  .rhythm h3 + h5 {
    margin-top: 0; }
  .rhythm h4 + h5 {
    margin-top: 0; }
  .rhythm h5 + h5 {
    margin-top: 0; }
  .rhythm h1 + h4 {
    margin-top: 0; }
  .rhythm h2 + h4 {
    margin-top: 0; }
  .rhythm h3 + h4 {
    margin-top: 0; }
  .rhythm h4 + h4 {
    margin-top: 0; }
  .rhythm h1 + h3 {
    margin-top: 0; }
  .rhythm h2 + h3 {
    margin-top: 0; }
  .rhythm h3 + h3 {
    margin-top: 0; }
  .rhythm h1 + h2 {
    margin-top: 0; }
  .rhythm h2 + h2 {
    margin-top: 0; }
  .rhythm p {
    margin-bottom: 1em; }
    .rhythm p:last-child {
      margin-bottom: 0; }
  .rhythm pre, .rhythm blockquote,
  .rhythm ul, .rhythm ol, .rhythm hr,
  .rhythm table, .rhythm figure {
    margin-top: 24px; }
  .rhythm h1, .rhythm h2, .rhythm h3, .rhythm h4, .rhythm h5, .rhythm h6 {
    line-height: 1.6em; }
  .rhythm p, .rhythm li {
    line-height: 1.6em; }
  .rhythm ol, .rhythm ul {
    padding-left: 2em; }
  .rhythm li ul,
  .rhythm li ol {
    margin-bottom: 0; }
  .rhythm table th, .rhythm table td, .rhythm table caption {
    border: 1px solid #e0e0e0;
    padding: 0.5em 1em;
    line-height: 1.2; }
  .rhythm table caption {
    border-bottom: none; }
  .rhythm table thead th {
    text-align: left;
    font-weight: normal;
    background-color: #f5f5f5; }
  .rhythm table tbody td {
    background-color: #fff; }
  .rhythm blockquote {
    position: relative;
    color: #333333;
    padding-left: 2em;
    font-family: Georgia, "Times New Roman", "Rhythm Cursive", serif; }
    .rhythm blockquote::before {
      content: '';
      position: absolute;
      left: 0;
      height: 100%;
      border-left: 2px solid #e0e0e0; }
    .rhythm blockquote footer {
      text-align: right; }
  .rhythm p img, .rhythm figure img {
    display: block;
    margin: 24px auto 1em; }
  .rhythm p figcaption, .rhythm figure figcaption {
    display: block;
    text-align: center;
    font-family: "Rhythm Italic Serif", "Rhythm Songti", sans-serif;
    font-size: 0.8rem;
    color: #9e9e9e; }
  .rhythm img {
    max-width: 100%;
    height: auto; }
  .rhythm pre, .rhythm code {
    font-family: Menlo, Courier, monospace, monospace, sans-serif; }
  .rhythm pre {
    border: 1px solid #e0e0e0;
    padding: 1em 1em;
    white-space: pre;
    /* 1 */
    word-wrap: normal;
    /* 2 */
    overflow: auto;
    /* 3 */
    background-color: #f7f7f7; }
  .rhythm code {
    border-radius: 2px;
    border: 1px solid #e0e0e0;
    padding: 3px 4px;
    margin: 0 .2em;
    color: #e57373;
    background-color: #fff;
    font-size: 0.8rem;
    vertical-align: 1px;
    white-space: pre-wrap;
    /* 1 */ }
  .rhythm pre code {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 85%;
    background-color: transparent;
    white-space: pre-wrap;
    /* 1 */
    word-break: break-all; }
  .rhythm a {
    margin: 0 .125em;
    color: #333333;
    font-family: "Helvetica Neue", Helvetica, Arial, "Rhythm Heiti", sans-serif;
    border-bottom: 1px solid #222222;
    text-decorantion: none; }
    .rhythm a:hover, .rhythm a:active, .rhythm a:visited, .rhythm a:link {
      text-decorantion: none; }
    .rhythm a:hover {
      border-color: #222222;
      color: #222222; }
    .rhythm a:active {
      border-color: #222222;
      color: #222222; }
    .rhythm a:focus {
      outline: none; }
  .rhythm em {
    text-emphasis: filled circle;
    text-emphasis-position: under;
    font-style: inherit; }
  .rhythm sup a,
  .rhythm sub a {
    margin: 0 .2em;
    border-bottom: none; }
  .rhythm u {
    padding-bottom: .125em;
    border-bottom: 1px solid;
    text-decoration: none; }
  .rhythm i {
    font-style: normal;
    font-family: Georgia, "Times New Roman", "Rhythm Cursive", serif; }
  .rhythm hr {
    display: block;
    height: 1px;
    border: 0;
    border-bottom: 1px dashed #e0e0e0;
    margin: 1em 0;
    padding: 0; }
  .rhythm .ref {
    font-size: 0.8rem; }
    .rhythm .ref ol {
      color: #5c5c5c; }
      .rhythm .ref ol a {
        margin: 0 .5em;
        border-bottom: none; }

@media (max-width: 640px) {
  .rhythm blockquote {
    padding-left: 1em; } }

/*# sourceMappingURL=rhythm.css.map */
